/node_modules
/vendor
.env
.DS_Store
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
*.log
/public/hot
/public/storage
/storage/debugbar
/public/build
